<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test.Properties.Settings.QLBH_FastFoodConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLBH_FastFood;User ID=employee1;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="test.Properties.Settings.QLBH_FastFoodConnectionString1"
            connectionString="Data Source=.;Initial Catalog=QLBH_FastFood;User ID=admin1;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="test.Properties.Settings.QLBH_FastFoodConnectionString2"
            connectionString="Data Source=.;Initial Catalog=QLBH_FastFood;User ID=employee1"
            providerName="System.Data.SqlClient" />
        <add name="test.Properties.Settings.QLBH_FastFoodConnectionString3"
            connectionString="Data Source=.;Initial Catalog=QLBH_FastFood;User ID=admin1"
            providerName="System.Data.SqlClient" />
        <add name="test.Properties.Settings.QLBH_FastFoodConnectionString4"
            connectionString="Data Source=.;Initial Catalog=QLBH_FastFood;User ID=stkp1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>